{% extends 'home.html'%}
{% include 'includes/inc_menu.html'%}
{% block content %}
<div>
    <div class="container mt-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ product.name }} {{ product.price }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <a href="#" class="btn btn-primary">Купить</a>
            </div>
        </div>
  </div>
</div>
{% endblock %}
{% include 'includes/footer.html'%}