{% extends 'catalog/home.html'%}
{% load my_tags %}
{% include 'catalog/includes/inc_menu.html'%}
{% block content %}
<div>
    <div class="container mt-5">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ object.name }} {{ object.price }}</h5>
                <img src="{{ product.image | media_filter }}" class="card-img-top" alt="product.name">
                <p class="card-text">{{ object.description }}</p>
                <a href="#" class="btn btn-primary">Купить</a>
                <a href="{% url 'catalog:product_list' %}" class="btn btn-secondary">Список товаров</a>
                <a href="{% url 'catalog:product_update' product.id %}" class="btn btn-secondary">Редактировать товар</a>
                <a href="{% url 'catalog:product_delete' product.id %}" class="btn btn-danger">Удалить товар</a>
            </div>
        </div>
  </div>
</div>
{% endblock %}
{% include 'catalog/includes/footer.html'%}