{% extends 'catalog/home.html'%}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row text-center">
        {% for product in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title">$ {{ product.price }}</h1>
                    <img src="{{ product.image | media_filter }}" alt="{{ product.name }}" class="card-img-top">
                    <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                        <li>- {{ product.description|truncatechars:100 }}</li>
                    </ul>
                    <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-primary">Подробнее/Купить</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
